.heading{
    font-size: 20px;
    box-shadow: 40px 60px 40px rgb(204, 235, 217);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* background-color: purple; */
    border: 2px solid yellow;
}   
body{
    background-color: aqua;
}
.heading-2{
    /* display: none; */
    visibility: hidden;

}
p{
    color: blue;
}